# Google Waitlist Direct Background Submission Configuration (Optional Overrides)
# All of these have working defaults built-in to src/waitlistConfig.ts!
# Uncomment and fill them only if you wish to override the default form.
# VITE_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSfAb5Hdb-j4jYHDLSlXC4Mrj4cb7OPe5c4yep6HsvPloMFEqA/formResponse
# VITE_EMAIL_ENTRY_ID=entry.873405453
# VITE_WEB_APP_URL=
# VITE_ACTIVE_METHOD=google_form

# Google Sales Form Direct Background Submission Configuration (Optional Overrides)
# All of these have working defaults built-in to src/salesConfig.ts!
# Uncomment and fill them only if you wish to override the default form.
# VITE_SALES_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSel6eZ2VlCUkF69YwlebR1ND_Hh1NPhOZoSpEwtLivyPMQV5g/formResponse
# VITE_SALES_EMAIL_ENTRY_ID=entry.989203005
# VITE_SALES_SEATS_ENTRY_ID=entry.1476722918
# VITE_SALES_ROLE_ENTRY_ID=entry.116374917
# VITE_SALES_COMPANY_NAME_ENTRY_ID=entry.2005620554
# VITE_SALES_COMPANY_WEBSITE_ENTRY_ID=entry.1045781291
# VITE_SALES_COMPANY_SIZE_ENTRY_ID=entry.88275681
# VITE_SALES_TEAM_ENTRY_ID=entry.1085838044
# VITE_SALES_TIMELINE_ENTRY_ID=entry.500835988
# VITE_SALES_QUESTION_ENTRY_ID=entry.901333501
# VITE_SALES_COMMENTS_ENTRY_ID=entry.1234337936
# VITE_SALES_ACTIVE_METHOD=google_form

